/* body {
    background: url(../img/bgpic.jpg)
    
     
} */

.logo {
    background: url(../img/logo.png) no-repeat;

}
.box{
    width: 1200px;
    height: 700px;        
    background: url(../img/bgpic.jpg) no-repeat;
    background-size: cover;
    border: 1px solid #333;
    margin-left: 30px;
    padding: 10px;
    justify-content: center;
    
} 
.welcome {
    text-align: center;
    text-decoration: color white;
    margin-top: 200px;
    font-size: xx-large;
}
.click {
    margin-top: 160px;
}
.about {
    text-align: center;
    margin-top: 40px;
}

.box1 {
    width: 1200px;
    height: 300px;        
    background: url("../img/s_image.jpg") no-repeat;
    background-size: cover;
    border: 1px solid #333;
    margin-left: 30px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    
}

.wedo {
    text-align: center;
    margin-top: 20px;
    flex: auto;
    /* margin-left: 20%;  */
   
}

.MouseClick {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .hide{
    display:none;
  }
.box4 {
    display: flex;
    float: right;
} */

.column {
    /* float: auto; */
    /* width: 30%; */
    /* padding: 50px; */
    width: 180px;
    height: 180px;
    /* padding-right: 20px; */
    margin-left: 170px;
    margin-top:10%;
  }
  .columnA {
    /* float: auto; */
    /* width: 30%; */
    /* padding: 50px; */
    width: 180px;
    height: 180px;
    /* padding-right: 20px; */
    margin-left: 10px;
    margin-top:1px;
  }
  .columnB {
    /* float: auto; */
    /* width: 30%; */
    /* padding: 50px; */
    width: 180px;
    height: 180px;
    padding-right: 20px;
    /* margin-right: 10px; */
    margin-top:1px;
  }

.Portfolio {
    text-align: center;
    margin-top: 30px;
    font-size: xx-large;
}

.column1 {
    padding: 5px;
    width: 140px;
    height: 140px;
    padding-right: 5px;
    margin-left: 150px;
  
  }
  .contact {
    width: 1200px;
    height: 320px;        
    background: url("../img/c_image.jpg") no-repeat;
    background-size: cover;
    border: 1px solid #333;
    /* margin: 10px; */
    padding: 6px;
    margin-left: 30px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;  
    text-decoration-color: white;
   
  }
 .Hover2 {
    opacity:0;
    background-color: rgba(246, 248, 246, 0.623);
    position: absolute;
    top:25%;
    bottom:25%;
    left:25%;
    right:25%; 
    width: 50px;
    height: 40px;
  }
  .Hover3 {
      opacity: 0;
      background-color: white;
      position: absolute;
      top: 25%;
  }
  .custom-info-on-portfolio {
    height: 260px;
    max-width: 260px;
    padding:20px;
  }
.row1 {
    width: 1000px;
    height: 200px;   
}
#wrapper {
    width: 1200px;
    height: 250px;
    padding: 10px;
    margin-left: 30px;
    justify-content: center;
    text-align: center;
    margin-top: 20px; 
    position: relative;
  }
  #subject {
      background-color: none;
      text-decoration: white;
  }
  .column2 {
    padding: 5px;
    width: 40px;
    height: 40px;
    padding-right: 5px;
    display: flex;
    margin-top: 10px;
    align-content: center;
  
  }
  .row {
    display: flex;
    justify-content: center;
    font-size: 10px;
    padding: 2%;
  }
 .butt {
     width: 40px;
     height: 8px;
     margin-top: 0px;
     margin-left: 800px;
 }
 .center {
     line-height: 1.5px;
     font-style: italic;
     font-weight: bold;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    text-align: center;
 }

.design {
    width: 30%;
    padding: auto;
    margin-bottom: 40px;
    margin-right: 80%;
    text-align: center;
    margin-left: 10%;
}
 .development {
    float: center;
    width: 30%;
    padding: 0px;
    margin-left: 400px;
    /* display: none; */
    margin-bottom: 40px;
    margin-right: 40%;
    height: 200px;
   
 }
 .product {
      /* display: none; */
    width: 30%;
    padding: 0px;
    /* margin-bottom: 40px; */
    margin-right: 10%;
    /* margin-top: 5%; */
 }
 form #contact{
    background-color: rgba(0, 0, 0, 0);
  }
  
input[type=text] {
    background:transparent;
    color: white;
  }
  textarea[type=text] {
    background:transparent;
    color: white;
  }
 