/* body {
    background: url(../img/bgpic.jpg)
    
     
} */

.logo {
    background: url(../img/logo.png) no-repeat;

}
.box{
    width: 1200px;
    height: 700px;        
    background: url(../img/bgpic.jpg) no-repeat;
    background-size: cover;
    border: 1px solid #333;
    margin-left: 30px;
    padding: 10px;
    justify-content: center;
    
} 
.welcome {
    text-align: center;
    text-decoration: color white;
    margin-top: 200px;
    font-size: xx-large;
}
.click {
    margin-top: 160px;
}
.about {
    text-align: center;
    margin-top: 40px;
}

.box1 {
    width: 1200px;
    height: 300px;        
    background: url("../img/s_image.jpg") no-repeat;
    background-size: cover;
    border: 1px solid #333;
    margin-left: 30px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    
}

.wedo {
    text-align: center; 
   
}

/* .box2 {
    display: flex;
    float: center;
    background-image: url("../img/design_icon.png") repeating-linear-gradient();
    background-size: contain;
    top:20px;
    left:300px;
    height: 200px;
    width:200px;
    position:relative;
}
.box3 {
    display: flex;
    float: center;
    top:20px;
    right: 400px;
    height: 200px;
    width:200px;
    background-image: url("../img/dev_icon.png") repeating-linear-gradient();
    background-size: contain;
}
.box4 {
    display: flex;
    float: right;
} */

.column {
    float: center;
    width: 30%;
    padding: 50px;
    width: 180px;
    height: 180px;
    padding-right: 20px;
    margin-left: 170px;
  }
  
.row {
    font-size: 10px;
}

.Portfolio {
    text-align: center;
    margin-top: 30px;
    font-size: xx-large;
}

.column1 {
    padding: 5px;
    width: 140px;
    height: 140px;
    padding-right: 5px;
    margin-left: 150px;
  
  }
  .contact {
    width: 1200px;
    height: 250px;        
    background: url("../img/c_image.jpg") no-repeat;
    background-size: cover;
    border: 1px solid #333;
    /* margin: 10px; */
    padding: 10px;
    margin-left: 30px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;  
    text-decoration-color: white;
  }
  /* }
  .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
  } */
  
.row1 {
    width: 1000px;
    height: 200px;   
}
#wrapper {
    width: 1200px;
    height: 250px;
    padding: 10px;
    margin-left: 30px;
    justify-content: center;
    text-align: center;
    margin-top: 20px; 
    position: relative;
  }
  #subject {
      background-color: none;
      text-decoration: white;
  }
  